# Q1
List the basic data types in python and give one example each.

SyntaxError: invalid syntax (1121889829.py, line 1)

# Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [15]:
x = 4539.85
y = str(x)
z = int(x)
type(y)
type(z)

int

### Q3

What data type would you use to store

a. The price of car?
float
b. The age of a person
Integer
c. car plate number: plateNumber = "AV01-AFP"?
String
d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

### Q5
What values does python use to represent **True** and **False** respectively?

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [74]:
# Q1
## ## List the basic data types in python and give one example each.
Integer = -2 
float = 4.5
bool = bool(0)
string = 'Delecta'

TypeError: 'bool' object is not callable

In [75]:
# Q2
## Change the variable x = 4539.85 to :

###(i) a string and assign it to a new variable y,

####(ii) an integer and assign it to a new variable z

####Print out the type of y and z.

In [23]:
x = 4539.85
y = str(x)
z = int(x)
y

'4539.85'

In [24]:
z

4539

In [25]:
type(y)

str

In [26]:
type(z)

int

In [27]:
### Q3

# What data type would you use to store

a. The price of car?
float
b. The age of a person
integer
c. car plate number: plateNumber = "AV01-AFP"?
String
d. The price of fuel
float
e. The number of students in the class
integer
f. The weight of a person
float
g. Check whether two figures are equal
boolean
i. The name of a  school
string
j. The average result of the overall score of a student
float
k. The total number of vote cast
integer

SyntaxError: invalid syntax (4030998003.py, line 7)

In [28]:
##Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team

#Split the statement above into two statement_1 and statement_2 such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

#Statement:

#What is the length of statment 1?
#What is the length of statment 2?
#Is the length of statement 1 greater than statement 2

In [29]:
my_sentence = ["Thomas Partey is arguably the best player in the Black Stars.","He is a great addition to the team"]
statement_1 = my_sentence[0]
statement_1

'Thomas Partey is arguably the best player in the Black Stars.'

In [30]:
statement_2 = my_sentence[-1]
statement_2

'He is a great addition to the team'

In [31]:
len(statement_1)

61

In [32]:
len(statement)

34

In [33]:
## Q6
##Write a code to evaluate if the following statments are True or False.

###78 is greater than 46 and less than 30 which is an odd number.

###8-2 is an even number or 8 is a is an odd number.

####The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

a = 78
b = 46
c = 30

b < a < c

False

In [34]:
a = 8 - 2
b = 8

6

In [37]:
a % 2 == 0 or b % 2 != 0

True

In [38]:
a = 'bootstrap'
b = 'sample'
len(a) == 7 and len(b) == 6

False

In [39]:
#Given the following python code,

#word='Hello, How are you?'

#Write Python code to return the following

#How
#How are you
#are
#?
#Hello, How are you

word = 'Hello, How are you?'

# How
print(word.split()[1])

How

In [40]:
word = 'Hello, How are you?'

# How are you
print(word.split(' ', 1)[1])

How are you?

In [41]:
# are
print(word.split()[2])

are

In [42]:
# ?
print(word[-1])

?

In [43]:

# Hello, How are you
print(word)

Hello, How are you?

In [45]:
##Q8
##Given the following python code,

## sentence = "I am very excited"

In [46]:
##Write Python code to return

sentence = "I am very excited"

In [48]:
# - Convert sentence to upper case
sentence.upper()

'I AM VERY EXCITED'

In [49]:
#- Convert sentence to lower case
sentence.lower()

'i am very excited'

In [52]:
#- Convert sentence to title case
sentence.title()

'I Am Very Excited'

In [54]:
#- Convert sentence to list of strings
String_list = sentence.split(" ")
String_list

['I', 'am', 'very', 'excited']

In [59]:
#Q9 word = 'OneThirtyEight'

#Using Python code extract the following from the variable word:

#One

word = 'OneThirtyEight'
word[:3]

'One'

In [62]:
#Thirty
word[3:9]

'Thirty'

In [63]:
#Eight
word[9:]

'Eight'

In [64]:
#OneThirty
word[:9]

'OneThirty'

In [66]:
#ThirtyEight
word[3:]

'ThirtyEight'

In [68]:
#ONETHIRTYEIGHT
capitalized_word = word[:]
capitalized_word.upper()

'ONETHIRTYEIGHT'

In [73]:
### Q10Turn Ault'Kelly into a string and assign it to a variable  called name.

name = "Ault'Kelly"
name

"Ault'Kelly"